@import "style.scss";

.loginForm {
  max-width: 300px;
  margin: 0 auto;
  .forgotPassLinkWrapper {
    :global {
      a {
        text-decoration: none;
        font-size: 10px;
        color: $black;
      }
    }
  }
  .orDevider {
    position: relative;
    z-index: 1;
    text-align: center;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      background-color: $black;
      z-index: -1;
    }
    p {
      font-size: 10px;
      padding: 4px;
      background-color: #fff;
      font-weight: 600;
    }
  }
  .thirdPartySignIn {
    p {
      font-size: 10px;
      font-weight: 500;
    }
  }
}
