@import "style.scss";

.textInput {
  input {
    width: 100%;
    background-color: $light-gray;
    border: none;
    height: 36px;
    padding: 16px;
    &:focus {
      border: 0;
      outline: 0;
    }
  }
  .helperText {
    font-size: 10px;
    font-weight: 500;
    color: #b5b2b2;
    line-height: 1;
  }
}
